<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{owner/myPage_layout}">

<th:block th:fragment="content">
    <th:block>
        <div class="formDiv">
            <p><label>제목</label><input type="text" name="eventTitle" th:value="${event.getEventTitle()}"></p>
            <p><label>이벤트 시작일</label><input id="startTime" type="date" name="strStartTime" th:value="${#temporals.format(event.getEventStartTime(), 'yyyy-MM-dd')}" readonly></p>
            <p><label>이벤트 마감일</label><input id="endTime" type="date" name="strEndTime" th:value="${#temporals.format(event.getEventEndTime(), 'yyyy-MM-dd')}" readonly></p>
            <p><label>내용</label><textarea name="eventContent" rows="5">[[${event.getEventContent()}]]</textarea></p>
            <p><label id="last">이미지</label><img id="preview" th:if="${event.getEventImg() != null}" th:src="'data:image/jpeg;base64,' + ${event.getBase64Image()}" alt="Event Image"></p>

            <input type="button" value="이벤트 수정하기" th:onclick="|location.href='@{/owner/updateEvent/{eventNo}(eventNo=${event.getEventNo()})}'|">
            <input type="button" value="삭제하기" th:onclick="|deleteEvent(${event.getEventNo()})|">
        </div>

    </th:block>
    <script>

        let preview = document.getElementById('preview');
        if(!preview) {
            var lastLabel = document.getElementById('last');
            var img = document.createElement('img');
            img.id = 'preview';
            img.alt = '가게 사진';
            img.src = '/img/no_image.png';

            lastLabel.parentNode.insertBefore(img, lastLabel.nextSibling);
        }

        function deleteEvent(eventNo) {
            if(confirm("이벤트를 삭제하시겠습니까?")) {
                location.href = '/owner/deleteEvent/'+eventNo;
            }
        }
    </script>
</th:block>
</html>