<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrang.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <script></script>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/slider.css">
</head>

<style>

    .list li a:hover {
        text-decoration: red;
    }

    .list li {
        white-space: nowrap; /* 요소가 한 줄에 표시되도록 설정 */
    }

    @media (max-width: 576px) {
        h2 {
            font-size: 18px; /* 적절한 크기로 조정 */
        }
    }



</style>



<body>
<div th:fragment="contentFragment">

    <div class="footer_height">
<div>
        <div class="slider slider1">
            <div class="header">
                <h2># 예약 많은 순</h2>
                <a href="/search?filter1=3"><div>자세히 보기</div></a>
            </div>
            <button class="btn prev"></button>
            <div class="wrapper">
                <div class="items">
                    <div th:replace="~{/include/home_slide_rest_template::detailReviewTemplate(${dinningReviewList1}, 1)}"></div>
                </div>
            </div>
            <button class="btn next"></button>
        </div>

        <div class="slider slider2">
            <div class="header">
                <h2># 리뷰 많은 순</h2>
                <a href="/search?filter1=2"><div>자세히 보기</div></a>
            </div>
            <button class="btn prev"></button>
            <div class="wrapper">
                <div class="items">
                    <div th:replace="~{/include/home_slide_rest_template::detailReviewTemplate(${dinningReviewList2}, 1)}"></div>
                </div>
            </div>
            <button class="btn next"></button>
        </div>

        <div class="slider slider3">
            <div class="header">
                <h2># 평점 높은 순</h2>
                <a href="/search?filter1=1"><div>자세히 보기</div></a>
            </div>
            <button class="btn prev"></button>
            <div class="wrapper">
                <div class="items">
                    <div th:replace="~{/include/home_slide_rest_template::detailReviewTemplate(${dinningReviewList3}, 1)}"></div>
                </div>
            </div>
            <button class="btn next"></button>
        </div>



        <!--/*[+
                추천(슬라이드 형식)<br> 가게예약, 좋아요 많은 순<br>
                전체 가게 중에서 예약이 많고, 좋아요를 많이 받은 순(10개 정도)<br>
                가게 클릭 시 해당 가게 상세보기 페이지로 전환<br>
                이전, 다음 버튼 필요함
        +]*/-->


    <div class="right_menu_list">
        <button onclick="onMenuListButton()"><</button>
        <div class="slideshow" style="width: 0px;">

        </div>
    </div>

</div>

</div>




    <script src="/js/btn_slider.js" slider="slider1"></script>
    <script src="/js/btn_slider.js" slider="slider2"></script>
    <script src="/js/btn_slider.js" slider="slider3"></script>
<!--    <script src="/js/imglazy2.js"></script>-->

    <script>
        function addWishList(compo, restNo) {
            let newDiv = compo.closest(".reviewT").cloneNode(true);
            newDiv.querySelector("span[onclick]").remove();
            newDiv.querySelectorAll(".reviewT>p").forEach(elem => elem.remove());
            newDiv.querySelector(".overtip").style.opacity = "0";
            document.querySelector(".right_menu_list .slideshow").appendChild(newDiv)
        }

        function onMenuListButton() {
            let d = document.querySelector(".right_menu_list button").checked | 0;
            document.querySelector(".right_menu_list button").checked = !d;
            document.querySelector(".right_menu_list .slideshow").style = "width: " + (d ? "0" : "328") + "px;padding-left: " + (d ? "0" : "9") + "px;";
        }


        //공지사항 탭
        function changeTab(tabIndex) {
            var tabs = document.querySelectorAll('.tab-button');
            var contents = document.querySelectorAll('.tab-content');

            tabs.forEach( (tab,i) => tab.classList.toggle(('selected'), (i===tabIndex)));
            contents.forEach( (content,i) => content.classList.toggle(('show'), (i===tabIndex)));
        }


    </script>
</div>


</body>
</html>




