<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<title th:fragment="titleFragment">맛집 예약, 예맛!</title>

<div th:fragment="headerFragment" id="top">

    <script>
        function sendSearchQuery() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/search?' + getSearchWord(), true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let doc = new DOMParser().parseFromString(xhr.responseText, 'text/html');
                    let div = document.querySelector('ul#resultList');
                    if (!div) return;
                    div.innerHTML = doc.querySelector('ul#resultList').innerHTML;
                    let scriptTags = doc.querySelectorAll('script');
                    let runnableScript = [];
                    scriptTags.forEach(scriptTag => {
                        if (null === scriptTag.getAttribute("map"))
                            return;
                        runnableScript.push(scriptTag.textContent);
                    });
                    eval(runnableScript.join(''));
                    var script = Object.assign(document.createElement('script'), {
                        type: 'text/javascript',
                        src: "/js/imglazy.js"
                    });
                    document.head.appendChild(script);
                }
            };
            xhr.send();
        }
    </script>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light" id="allHeader">
            <!--            <h2>예약 맛집!</h2>-->
            <!--            <div th:replace="~{/include/logo::logoContent(30,1)}"></div>-->
            <div id="mainLogo" th:replace="~{/include/logo::logoContent(30,1)}"></div>

            <div id="navbarNav">

                <form th:action="@{/search}" method="get" >
                    <div class="searchBox" >
                        <div>
                            <input id="searchBar" type="search" placeholder="음식 또는 식당명 입력" aria-label="Search"
                                   name="keyword" oninput=sendSearchQuery() th:value="${param.keyword}"
                                   autocomplete="off">

                            <button>
                                <svg class="searIcon" viewBox="0 0 20 20" onclick="toggleSearchForm()">
                                    <path d="M18.125,15.804l-4.038-4.037c0.675-1.079,1.012-2.308,1.01-3.534C15.089,4.62,12.199,1.75,8.584,1.75C4.815,1.75,1.982,4.726,2,8.286c0.021,3.577,2.908,6.549,6.578,6.549c1.241,0,2.417-0.347,3.44-0.985l4.032,4.026c0.167,0.166,0.43,0.166,0.596,0l1.479-1.478C18.292,16.234,18.292,15.968,18.125,15.804 M8.578,13.99c-3.198,0-5.716-2.593-5.733-5.71c-0.017-3.084,2.438-5.686,5.74-5.686c3.197,0,5.625,2.493,5.64,5.624C14.242,11.548,11.621,13.99,8.578,13.99 M16.349,16.981l-3.637-3.635c0.131-0.11,0.721-0.695,0.876-0.884l3.642,3.639L16.349,16.981z"></path>
                                </svg>
                            </button>
                        </div>
                        <div onclick="handleSearchItemClick(event)" style="display: none;">
                            <ul>
                                <li>리시트</li>
                                <li>연습</li>
                                <li>식당</li>
                            </ul>
                        </div>
                    </div>
                </form>


                <!-- 날씨 관련 -->
                <div style="display: flex; align-items: center;">
                    <div style="margin-right: 5px;">
                        <a href="https://www.weather.go.kr/w/weather/forecast/short-term.do?stnId=143#">
                        <img class="icon" style="width: 45px; height: 45px;" onclick="toggleModal()">
                        </a>
                    </div>
                    <div>
                        <div class="temperature"></div>
                    </div>
                </div>


                <button class="alarm-button noCon" onclick="onAlarmClick()">
                    <img src="/images/ch-logo-white-32.png" alt="alarm1">
                    <p style="display: none;">1</p>
                </button>


                <div>
                    <div style="
                         transform-origin: right top;
                         right: 64px;
                         top: 62px;
                         background-color: #f7f7f7;
                         max-height: 865px;
                         "
                         class="chats dropmenu" name="chat">
                        <div th:include="~{/chat/chatroom::chatFragment}"></div>
                    </div>
                </div>

                <button onclick="onMenuClick()" onblur="handleBlur()">
                    <img id="avatar" src="/images/logo_avatar_32dp.png" alt="avatar"
                         style="width:32px; height:32px; border-radius: 50%; object-fit: cover;">
                </button>
                <div>
                    <div style="
                         transform-origin: right top;
                         right: 16px;
                         top: 62px;
                         background-color: #ffffff;
                         max-height: 865px;
                         "
                         class="dropmenu" name="mymenu" id="mymenu">
                        <!--/*[+ 이 안의 내용은 fetch("/api/loadMyMenu") header_dropmenu.html 으로 채워집니다 +]*/-->
                    </div>
                </div>
            </div>
        </nav>
    </div>


    <script>
        function onAlarmClick(btn) {
            // document.querySelector("[name=chat]").classList.toggle("visible");
            document.dispatchEvent( new Event("chatAlarmButtonClick") );
        }

        function onMenuClick(btn) {
            document.querySelector("[name=mymenu]").classList.toggle("visible");
            document.querySelector("[name=mymenu]").style.opacity = 1;
        }
        async function handleBlur() {
            await sleep(200)
            document.querySelector("[name=mymenu]").classList.remove("visible");
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function getSearchWord() {
            const keyword = document.getElementById('searchBar').value;

            const filterString = Array.from(document.querySelectorAll("ul[class^='filter']")).map(item =>
                item.className + "=" + Array.from(item.querySelectorAll(".picked")).map(e => e.value).join(",")
            ).join("&");

            return 'keyword=' + encodeURIComponent(keyword) + "&" + filterString;
        }

        function toggleSearchForm() {
            return;
            var form = document.getElementById("searchBar");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }

        function handleFocusIn(bAdd) {
            return;
            document.querySelector(".searchBox").classList.toggle("kBXqGy", bAdd);
            document.querySelectorAll(".searchBox div").forEach(e => e.classList.toggle("kBXqGy", bAdd));
            document.querySelector(".searchBox div:nth-of-type(2)").style.display = bAdd ? "block" : "none";
        }

        function handleSearchItemClick(event) {
            // if ("LI" !== event.target.tagName)
                return;
            document.querySelector("#searchBar").value = event.target.textContent;
            document.querySelector("form").submit();
        }

        document.addEventListener("click", (event) => {

            const bSearchFocus = !!event.target.closest(".searchBox");
            handleFocusIn(bSearchFocus);
        });

        (function () {
            fetch("/api/loadMyMenu")
                .then(resp => resp.text())
                .then(data => {
                    if (data) {
                        let doc = new DOMParser().parseFromString(data, 'text/html');
                        document.querySelector("[name=mymenu]").innerHTML = doc.querySelector("div").innerHTML;
                        eval(doc.querySelector('script')?.textContent);
                    }
                });
        })();

        // 날씨 관련
        // const button = document.querySelector('.button');
        //
        // document.addEventListener('click', () => {
        //     navigator.geolocation.getCurrentPosition(success);
        // });

        const API_KEY = '30daaa26c215673ed477b33a05426ac5';

        const tempSection = document.querySelector('.temperature');
        // const placeSection = document.querySelector('.place');
        // const descSection = document.querySelector('.description');
        const iconSection = document.querySelector('.icon');

        const success = (position) => {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;

            getWeather(latitude, longitude);
        };
        const noPosition = (position) => {
            getWeather(35.86868025887658, 128.5987419727357);
        }

        const getWeather = (lat, lon) => {
            fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${API_KEY}&units=metric&lang=kr`)
                .then((response) => response.json())
                .then((json) => {
                    const temperature = json.main.temp + "°C";
                    // let value = temperature + "";
                    // const place = json.name;
                    // const description = json.weather[0].description;
                    const icon = json.weather[0].icon;
                    const iconURL = `http://openweathermap.org/img/wn/${icon}@2x.png`;

                    tempSection.innerText = temperature;
                    // placeSection.innerText = place;
                    // descSection.innerText = description;
                    iconSection.setAttribute('src', iconURL);
                })
            // .catch((error) => {
            //     alert(error);
            // });
            // 위 catch 코드 주석을 풀면 계속 경고창이 나옴,,
        }
        navigator.geolocation.getCurrentPosition(success, noPosition);


        // window.addEventListener('scroll', function() {
        //     var header = document.getElementById('allHeader');
        //     var scrollPosition = window.scrollY || window.pageYOffset || document.documentElement.scrollTop;
        //
        //     // 내려간 스크롤의 양을 조절하여 배경색을 변경
        //     if (scrollPosition > 100) { // 내려간 스크롤이 100px 이상일 때
        //         header.style.backgroundColor = 'gray'; // 배경색 변경
        //     } else {
        //         header.style.backgroundColor = 'white'; // 다시 투명하게
        //     }
        // });

    </script>
</div>
</html>


