<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>폐점 신청 가게 목록</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<div th:fragment="managerContent">
    <div id="right2">
        <div class="searchDiv">
            <input type="text" id="searchInput7" placeholder="가게 이름으로 검색" onchange="searchDinning7()">
            <button onclick="searchDinning7()">검색</button>
        </div>
        <table id="dinningCloseTable2" style="text-align: center;">
            <thead>
            <tr>
                <th>가게 번호</th>
                <th>가게 이름</th>
                <th>가게 주소</th>
                <th>가게 전화번호</th>
                <th>상태 변경</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="dinning : ${dinningList}">
                <td th:text="${dinning.restNo}"th:onclick="'javascript:viewJumrestDetail(\'' + ${dinning.restNo} + '\')'"> </td>
                <td th:text="${dinning.restName}" th:onclick="'javascript:viewJumrestDetail(\'' + ${dinning.restNo} + '\')'"></td>
                <td th:text="${dinning.restAddr}" th:onclick="'javascript:viewJumrestDetail(\'' + ${dinning.restNo} + '\')'"></td>
                <td th:text="${dinning.restTel}" th:onclick="'javascript:viewJumrestDetail(\'' + ${dinning.restNo} + '\')'"></td>
                <td>
                    <form onsubmit="return confirmClose(this)" action="HoldUpd" method="post">
                        <input type="hidden" name="restNo" th:value="${dinning.restNo}">
                        <div class="custom-select">
                        <select name="status">
                            <option value="NORMAL">승인</option>
                            <option value="REJECT">거절</option>
                        </select>
                        <button type="submit">변경</button>
                        </div>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
    </div>



    <div id="holdDetail">
        <ion-icon id="closeModalIcon" name="close-outline"></ion-icon>

        <div></div>
    </div>

    <script>

        // closeModalIcon을 클릭하면 모달을 닫습니다.
        document.getElementById("closeModalIcon").addEventListener("click", function() {
            // 모달을 감추도록 display 속성을 "none"으로 변경합니다.
            document.getElementById("holdDetail").style.display = "none";
        });


        function viewJumrestDetail(restNo) {

            fetch( '/manager/managerPage_JrestHoldDetail?restNo=' + restNo )
                .then( resp => resp.text())
                .then(data=> {
                    let doc = new DOMParser().parseFromString(data, 'text/html');
                    document.querySelector("#holdDetail div").innerHTML = doc.querySelector('.modalD').innerHTML;
                    document.getElementById("holdDetail").style.display = "block";

                    document.addEventListener('click', function (event) {
                        var modal = document.getElementById('holdDetail');
                        if (!modal.contains(event.target)) {
                            modal.style.display = 'none';
                        }
                    });
                })
        }




        // function redirectToJumrestDetail(restNo) {
        //     window.location.href = '/manager/managerPage_JrestHoldDetail?restNo=' + restNo;
        // }


        function searchDinning7() {
            let searchInput7 = document.getElementById("searchInput7").value;
            fetch("/manager/managerPage_JrestHold?searchInput7=" + searchInput7)
                .then(resp => resp.text())
                .then(data => {
                    let doc = new DOMParser().parseFromString(data, 'text/html');
                    document.getElementById("dinningCloseTable2").innerHTML = doc.getElementById("dinningCloseTable2").innerHTML;
                    document.querySelector(".pagination").innerHTML = doc.querySelector(".pagination").innerHTML;
                });
        }

        function confirmClose(form) {
            swal({
                title: "가게 상태를 변경 하시겠습니까?",
                text: "변경 하시려면 확인을 눌러주세요.",
                icon: "warning",
                buttons: {
                    confirm: {
                        text: "변경",
                        value: true,
                        visible: true,
                        className: "confirm-button",
                        closeModal: false // 창이 닫히지 않도록 설정
                    },
                    cancel: {
                        text: "취소",
                        value: null,
                        visible: true,
                        className: "cancel-button",
                        closeModal: true,
                    }
                },
                dangerMode: false,
            })
                .then((willClose) => {
                    if (willClose) {
                        swal("Success!", "변경 되었습니다!", "success")
                            .then(function () {
                                // 확인 버튼을 클릭한 경우 폼 제출
                                // document.querySelector("form").submit();
                                form.submit();
                            });
                    } else {
                        swal("취소되었습니다.")
                    }
                });
            // 폼 제출을 여기서 직접 호출하지 않고, 확인 버튼을 클릭한 경우에만 폼 제출
            return false;
        }

    </script>

</div>
</html>
