<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>고객 목록</title>
    <link rel="stylesheet" href="../../static/css/managerPage/managerPage.css">
</head>

<div th:fragment="managerContent">
    <div id="right2">
        <div class="searchDiv">
            <input th:value="${(input == null or input == '') ? '' : input}"
                    type="text" id="searchInput" placeholder="고객 이름으로 검색" onchange="searchDinning()">
            <button onclick="searchDinning()">검색</button>
        </div>

        <table id="UuserTable" style="text-align: center;">
            <thead>
            <tr>
                <th>고객 번호</th>
                <th>고객 이름</th>
                <th>고객 아이디</th>
                <th>고객 이메일</th>
                <th>가입 종류</th>
                <th>고객 전화번호</th>
                <th>가입일</th>
                <th>블랙리스트</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userNo}" th:onclick="'javascript:redirectToUserUpdate(\'' + ${user.userNo} + '\')'">
                    Name
                </td>
                <td th:text="${user.userName}"
                    th:onclick="'javascript:redirectToUserUpdate(\'' + ${user.userNo} + '\')'">Name
                </td>
                <td th:text="${user.userId}" th:onclick="'javascript:redirectToUserUpdate(\'' + ${user.userNo} + '\')'">
                    ID
                </td>
                <td th:text="${user.userEmail}"
                    th:onclick="'javascript:redirectToUserUpdate(\'' + ${user.userNo} + '\')'">Name
                </td>
                <td th:text="${user.provider != null ? user.provider : '예맛'}"
                    th:onclick="'javascript:redirectToUserUpdate(\'' + ${user.userNo} + '\')'">Name
                </td>

                <td th:text="${user.userTel}"
                    th:onclick="'javascript:redirectToUserUpdate(\'' + ${user.userNo} + '\')'">Name
                </td>
                <td th:text="${#strings.substring(user.userStartDate, 0, 10)}"
                    th:onclick="'javascript:redirectToUserUpdate(\'' + ${user.userNo} + '\')'">Name
                </td>
                <td>
                    <form onsubmit="confirmFormSubmission(event)" method="post" action="/manager/UListBlack">
                        <input type="hidden" name="userName" th:value="${user.userName}">
                        <input type="hidden" name="userNo" th:value="${user.userNo}">
<!--                        <div class="custom-select">-->
<!--                            <select name="status">-->
<!--                                <option value="1">설정</option>-->
<!--                            </select>-->
<!--                            <button type="submit">변경</button>-->
<!--                        </div>-->
                        <div class="custom-select">
                            <input type="hidden" name="status" value="1">
                            <button type="submit">변경</button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${!users.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!users.hasPrevious} ? 'disabled'">
<!--                    <a class="page-link" th:href="@{|?page=${users.number-1 < 0 ? 0 : users.number-1}|}">-->
                    <a class="page-link" href="javascript:void(0)" onclick="prePage()">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, users.totalPages-1)}"
                    th:if="${page >= users.number-5 and page <= users.number+5}"
                    th:classappend="${page == users.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page + 1}" class="page-link" href="javascript:void(0)" th:onclick="gotoPage([[${page}]])"></a>

<!--                    <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>-->
                </li>
                <li class="page-item" th:classappend="${!users.hasNext} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" onclick="nextPage()">
<!--                    <a class="page-link" th:href="@{|?page=${users.number+1}|}">-->
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script th:inline="javascript">
        function redirectToUserUpdate(userNo) {
            window.location.href = '/manager/managerPage_UDetail?userNo=' + userNo;
        }

        function searchDinning() {
            let searchInput = document.getElementById("searchInput").value;
            fetch("/manager/managerPage_UList?searchInput=" + searchInput)
                .then(resp => resp.text())
                .then(data => {
                    let doc = new DOMParser().parseFromString(data, 'text/html');
                    document.getElementById("UuserTable").innerHTML = doc.getElementById("UuserTable").innerHTML;
                    document.querySelector(".pagination").innerHTML = doc.querySelector(".pagination").innerHTML;
                });
        }





        function confirmFormSubmission(event) {
            event.preventDefault(); // 폼 제출 방지

            let form = event.target.closest('form');
            let target = form.querySelector("input[name=userName]");
            let UName = target.value;

            console.log(UName);
            swal({
                title: "블랙리스트에 추가 하시겠습니까?",
                text: "추가하시려면 추가를 눌러주세요.",
                icon: "info",
                buttons: {
                    confirm: {
                        text: "추가",
                        value: true,
                        visible: true,
                        className: "confirm-button",
                        closeModal: true
                    },
                    cancel: {
                        text: "취소",
                        value: null,
                        visible: true,
                        className: "cancel-button",
                        closeModal: true,
                    }
                },
                dangerMode: false
            })
                .then((willChange) => {
                    if (willChange) {

                        swal("Success", UName+ " 님이 블랙리스트에 추가 되었습니다.", "success")
                            .then(function () {

                                event.target.submit(); // 확인을 선택한 경우 폼 제출
                            })
                    } else {
                        swal("취소 되었습니다.")
                    }
                });
        }
    </script>

    <script>


        function nextPage() {
            let searchValue = document.getElementById('searchInput').value;

            let curPage = parseInt( document.querySelector( 'li.page-item.active' ).textContent );

            window.location.href = "?page=" + (curPage)+ "&nextInput=" + encodeURIComponent(searchValue);
        }

        function prePage() {
            let searchValue = document.getElementById('searchInput').value;

            window.location.href = "?page=" + [[${users.number-1}]]+ "&nextInput=" + encodeURIComponent(searchValue);
        }

        function gotoPage(pageNumber) {
            let searchValue = document.getElementById('searchInput').value;

            window.location.href = "?page=" + pageNumber + "&nextInput=" + encodeURIComponent(searchValue);
        }
    </script>

</div>
</html>

