<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>공지사항 상세보기</title>
</head>

<div th:fragment="managerContent">
    <script>
        <!-- CKEditor CDN 추가 -->
        <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    </script>

    <style>
        .formDiv ion-icon {
            float: right;
            font-size: 40px;
            margin: 20px 20px 0 0;
        }

        ion-icon:hover {
            cursor: pointer;
        }

        .formDiv {
            margin: 20px;
            width: 1200px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            text-align: left;
        }

        .ck-editor__editable {
            min-height: 400px;
            width: 600px;
        }


    </style>
    <div id="right2">

        <div class="formDiv"
             style="margin: 20px; width: 1200px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; text-align: left">
            <ion-icon onclick="history.go(-1);" name="close-outline"></ion-icon>

            <form id="NFormUpdate" action="/manager/managerPage_NoticeUpdate" method="post" style="margin-left: 40px" enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="${notice.get().id}"/>
                <span>제목 : <input name="subject" th:value="${notice.get().subject}"
                                  style="width: 400px; padding: 10px; border: none; border-bottom: 1px solid #ccc; border-radius: 5px; font-size: 16px; box-sizing: border-box; margin-top: 30px; margin-bottom: 20px"></span><br>
                <span>작성자 : <input name="writer" th:value="${notice.get().writer}"
                                   readonly
                                   style="padding: 10px;  border: none; border-bottom: 1px solid #ccc; border-radius: 5px; font-size: 16px;margin-bottom: 20px"></span><br>
                <span>내용 : <br></span>

                <div style="display: flex; ">
                <textarea th:utext="${notice.get().content}" name="content" id="content"
                          style="width: 599px; height: 400px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px; box-sizing: border-box;"></textarea>
                <input type="hidden" name="importantNotice" th:value="${notice.get().importantNotice}">

                    <div id="noticeImg" style="width: 500px; height: 300px;">
                        <th:block th:if="${notice.isPresent() and notice.get().base64Image != null and notice.get().base64Image != ''}">
                            <img id="preview" th:src="'data:image/jpeg;base64,' + ${notice.get().base64Image}"
                                 alt="Notice Image" style="width: 100%; height: 393px; margin-left: 20px">
                        </th:block>
                        <th:block th:if="${!notice.isPresent() or notice.get().base64Image == null or notice.get().base64Image == ''}">
                        <img id="preview" src="/img/no_image.png"
                             alt="Notice Image" style="width: 100%; height: 393px; margin-left: 20px">
                        </th:block>

                        <p><input style="margin-left: 20px; margin-top: 15px" type="file" id="file" name="file" onchange="previewImage(this);"></p>
                    </div>

                </div>



            </form>

            <form id="NFormDel" action="/manager/managerPage_NoticeDelete" method="post">
                <input type="hidden" name="id" th:value="${notice.get().id}" readonly style="display: none;"></input>
            </form>

            <div id="NBoxDiv">
                <button type="submit" class="fifth" id="fifthU">수정</button>
                <button type="submit" class="fifth" id="fifthD" style="margin-left: 10px">삭제</button>
            </div>
        </div>
    </div>

    <script>
        // document.getElementById("fifthU").addEventListener("click", function (event) {
        //     document.getElementById("NFormUpdate").submit(); // 폼 제출
        // });
        //
        // document.getElementById("fifthD").addEventListener("click", function (event) {
        //     document.getElementById("NFormDel").submit(); // 폼 제출
        // });

        // function previewImage(input) {
        //     var preview = document.getElementById('preview');
        //
        //     if (input.files && input.files[0]) {
        //         var reader = new FileReader();
        //
        //         reader.onload = function (e) {
        //             preview.src = e.target.result;
        //         };
        //
        //         reader.readAsDataURL(input.files[0]);
        //     }
        // }

        ClassicEditor
            .create(document.querySelector('#content'))
            .catch(error => {
                console.error(error);
            });


        // 파일 선택 시 이미지 미리보기
        function previewImage(input) {
            var preview = document.getElementById('preview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }


        document.getElementById("fifthD").addEventListener("click", function (event) {
            swal({
                title: "삭제 하시겠습니까?",
                text: "공지사항을 삭제하시겠습니까?",
                icon: "warning",
                buttons: {
                    confirm: {
                        text: "삭제",
                        value: true,
                        visible: true,
                        className: "confirm-button",
                        closeModal: true
                    },
                    cancel: {
                        text: "취소",
                        value: null,
                        visible: true,
                        className: "cancel-button",
                        closeModal: true
                    }
                }
            }).then((willDelete) => {
                if (willDelete) {
                    swal("Success!", " 해당 공지사항을 삭제 했습니다.", "success")
                        .then(function () {
                            document.getElementById("NFormDel").submit(); // 폼 제출
                        });
                } else {
                    swal("삭제가 취소 되었습니다.")
                }
            });
        });

        document.getElementById("fifthU").addEventListener("click", function (event) {
            swal({
                title: "수정 확인",
                text: "공지사항을 수정하시겠습니까?",
                icon: "info",
                buttons: {
                    confirm: {
                        text: "수정",
                        value: true,
                        visible: true,
                        className: "confirm-button",
                        closeModal: true
                    },
                    cancel: {
                        text: "취소",
                        value: null,
                        visible: true,
                        className: "cancel-button",
                        closeModal: true
                    }
                }
            })
                .then((willUpdate) => {
                    if (willUpdate) {
                        swal("Success!", "공지사항이 수정 되었습니다!", "success")
                            .then(function () {
                                document.getElementById("NFormUpdate").submit(); // 폼 제출
                            });
                    } else {
                        swal("수정이 취소 되었습니다.")
                    }
                });
        });
    </script>
</div>
</html>



