<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>블랙리스트 목록</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<div th:fragment="managerContent">
    <div id="right2">
        <div class="searchDiv">
            <input type="text" id="searchInput" placeholder="블랙리스트 이름으로 검색" onchange="searchDinning()">
            <button onclick="searchDinning()">검색</button>
        </div>
        <table id="blackTable" style="text-align: center;">
            <thead>
            <tr>
                <th>no</th>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
                <th>전화번호</th>
                <th>상태 변경</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userNo}">Name</td>
                <td th:text="${user.userId}">ID</td>
                <td th:text="${user.userName}">Name</td>
                <td th:text="${user.userEmail}">Name</td>
                <td th:text="${user.userTel}">Name</td>
                <td>
                    <form th:id="'blackForm_' + ${user.userNo}" action="managerPage_UBlack" method="get">
                        <input type="hidden" name="userNo" th:value="${user.userNo}"></input>
                        <input type="hidden" name="confirm" value="false"></input>
                        <button class="blackBtn" type="button" onclick="confirmBlack(this)">블랙버튼</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>


        function searchDinning() {
            let searchInput = document.getElementById("searchInput").value;
            fetch("/manager/managerPage_UBlackList?searchInput=" + encodeURIComponent(searchInput))
                .then(resp => resp.text())
                .then(data => {
                    let doc = new DOMParser().parseFromString(data, 'text/html');
                    document.getElementById("blackTable").innerHTML = doc.getElementById("blackTable").innerHTML;
                    document.querySelector(".pagination").innerHTML = doc.querySelector(".pagination").innerHTML;
                });
        }


        function confirmBlack(button) {
            swal({
                title: "블랙리스트를 해제 하시겠습니까?",
                text: "해제 하시려면 해제 버튼을 누르세요.",
                icon: "info",
                buttons: {
                    confirm : {
                        text: "해제",
                        value: true,
                        visible: true,
                        className: "confirm-button",
                        closeModal: true
                    },
                    cancel : {
                        text : "취소",
                        value : null,
                        visible : true,
                        className: "cancel-button",
                        closeModal : true,
                    }
                },
                dangerMode: false,
            }).then((willUnblack) => {
                if (willUnblack) {
                    swal("Success!", "해제되었습니다.", "success")
                        .then(() => {
                            let form = button.closest('form');
                            let confirmInput = form.querySelector("input[name=confirm]");
                            confirmInput.value = true;
                            form.submit();
                        });
                } else {
                    swal("블랙리스트 해제가 취소 되었습니다.");
                }
            });
        }

    </script>
</div>
</html>
