* {
    /*border: solid 1px blue;*/
    margin: 0;
}

/*body {*/
/*}*/
/*홈화면 메인css - bootstrap@5.3.1*/
/*_navbar.scss*/
img {
    vertical-align: middle;
    border-style: none;
}

a {
    /*color: #007bff;*/
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    /*--bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);*/
    /*--bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);*/
    /*--bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);*/
    /*--bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);*/
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    /*--bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);*/
    /*--bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);*/
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    /*--bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);*/
    /*--bs-navbar-toggler-border-radius: var(--bs-border-radius);*/
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
    height: 70px;
}

.navbar-brand {
    display: inline-block;
    /*padding-top: .3125rem;*/
    /*padding-bottom: .3125rem;*/
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
}

#mainLogo {
    /*position: absolute;*/
    /*left: 49%;*/
    /*margin-top: 20px;*/
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}

.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

/*- bootstrap@4.3.1*/
/*_nav.scss*/
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link {
    display: block;
    /*padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);*/
    /*font-size: var(--bs-nav-link-font-size);*/
    /*font-weight: var(--bs-nav-link-font-weight);*/
    /*color: var(--bs-nav-link-color);*/
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

/*_reboot.scss*/
[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input:not([type="image" i]) {
    box-sizing: border-box;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 2px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol, ul {
    padding-left: 2rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


/*메인 css*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

header nav:nth-of-type(1) {
    background: white;
    justify-content: flex-start;
}

#top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*
#searchBar {
    float: right;
    /*margin-left: 30%;*/
/*
    width: 250px;
}
*/


#navbarNav {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    position: absolute;
    right : 0;
}

#navbarNav button {
    background: transparent;
    box-shadow: none;
    text-transform: none;
    border: none;
}

#navbarNav .dropmenu {
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transform: scale(1);
    transform-origin: top left;
    opacity: 0;
    overflow: auto;
    will-change: transform, opacity;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    transform-origin-left: top left;
    transform-origin-right: top right;
    padding: 10px;
    border-radius: 10px;
    z-index: 5;
}

#navbarNav .dropmenu.visible {
    display: inline-block;
    transition: all 0.4s ease-out 0s;
    transform: scale(1);
    /*opacity: 1;*/
}

#navbarNav .dropmenu ul, #navbarNav .dropmenu li {
    list-style-type: none;
    text-align: center;
}

#navbarNav .dropmenu li:hover {
    background-color: #ffd9885c;
}

#navbarNav #mymenu {
    width: 300px;
    text-align: center;
}

#navbarNav #mymenu .myinfo {
    margin: 10px 0;
    padding: 10px 0;
    background-color: rgba(128, 128, 0, 0.35);
    border-radius: 2rem;
}

#navbarNav #mymenu .myinfo img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

#navbarNav #mymenu .myinfo p {
    text-align: center;
}

#navbarNav #mymenu > ul {
    padding-inline-start: 0;
}

#navbarNav #mymenu > ul li {
    background-color: #ffd9885c;
    border-radius: 2rem;
    margin: 10px 0;

    &:hover {
        box-shadow: 0 0 0 5px rgba(255, 217, 136, 0.65);
    }
}

#navbarNav .searchBox {
    position: relative;
    height: 100%;
}

#navbarNav .searchBox.kBXqGy {
    /*background-color: rgb(255 255 255 / 50%);*/
}

/*.searchBox .searIcon {}*/
.searIcon {
    width: 27px;
    height: 3em;
    cursor: pointer;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.searchBox #searchBar {
    float: left;
    height: 40px;
    /* margin-left: 30%; */
    width: 250px;
    border-color: transparent;
    background-color: #dfe5db00;
    margin: 4px 30px 4px 4px;
}

#searchBar:focus {
    /*border: 1px solid black; !* 포커스되었을 때 검은색 테두리 추가 *!*/
    /*border-radius: 10px;*/
}

.searchBox #searchBar:focus-visible {
    /*outline: #3f51b5;*/
}

.searchBox #searchBar:-internal-autofill-selected {
    background-color: transparent !important;
}

.searchBox #searchBar:focus {
    outline: none; /* 선택 효과 제거 */
}

.searchBox #searchBar::-webkit-search-cancel-button,
.searchBox #searchBar::-webkit-clear-button {
    display: none;
}

/*.searchBox #searchBar::-ms-clear{*/
/*    display: none;*/
/*}*/
#navbarNav .searchBox div:nth-of-type(1) {
    border-radius: 20px;
    background-color: rgb(255 255 255 / 20%);
    height: 45px;
    padding-left: 8px;
}

#navbarNav .searchBox div:nth-of-type(1).kBXqGy {
    border-radius: 20px 20px 0 0;
    background-color: rgb(255 255 255 / 50%);
}

#navbarNav .searchBox div:nth-of-type(2) {
    position: absolute;
    border-radius: 20px;
    background-color: rgb(255 255 255 / 20%);
    width: calc(100% - 8px);
    padding-left: 8px;
}

#navbarNav .searchBox div:nth-of-type(2).kBXqGy {
    border-radius: 0 0 20px 20px;
    background-color: rgb(255 255 255 / 50%);
}

.searchBox ul {
    margin-block-start: 0;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
    padding-left: 8px
}

.searchBox ul, .searchBox li {
    list-style-type: none;
}


/*footer*/
footer {
    display: block;
    position: relative;
    padding: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    line-height: 20px;
    color: rgba(0, 0, 0, 0.38);
}

.footer_box {
    width: 100%;
    margin: 0 auto;
    display: grid;
}

.footer_box ul {
    display: block;
    list-style: none;
    padding-inline-start: 0px;
}

.footer_box ul li {
    float: left;
    display: inline-block;
    margin-bottom: 5px;
    line-height: normal;
}

.footer_box ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.38);
}

.footer_box ul li span {
    display: inline-block;
    position: relative;
    top: 0;
    width: 24px;
    text-align: center;
}

.footer_box address {
    display: inline-block;
    line-height: 22px;
    font-style: italic;
    margin-top: 10px;
    position: relative;
}

.f {
    position: relative;
    transform: translateY(0%);
}


.c, .footer_height {

    background-color: white;
    position: relative;
}


/*.alarm-button div {*/
/*    border-image: url("/images/ch-logo-white-52.png");*/
/*    fill:red;*/
/*    width: 52px;*/
/*    height: 52px;*/
/*}*/
.alarm-button.noCon img {
    filter: grayscale(1) opacity(0.3);
}

.alarm-button img {
}

.alarm-button.new img {
    animation-name: newAlarm;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes newAlarm {
    0% {
        filter: hue-rotate(0deg)
    }
    50% {
        filter: hue-rotate(45deg)
    }
    100% {
        filter: hue-rotate(0deg)
    }
}


#wrap {
    height: 500px;
    /*background-color: silver;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 100px;

}

.d1 {
    width: 350px;
    height: 330px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}

#center_box {
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*margin-top: 50px;*/
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
}

#topDiv {
    height: 270px;
    background: white;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 20px;
    flex-basis: 100px;
    flex-grow: 1;
    overflow: hidden;
}

#topDiv h2 {
    text-align: center;
}

#topDiv ul {
    text-align: left;
    list-style: square;
}

#random_box {
    height: 270px;
    background-color: white;
    /*float: 1;*/
    text-align: center;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: 20px;
    flex-grow: 1;
}

/*new_event_box*/
#new_event_box {
    width: 330px;
    height: 270px;
    background-color: white;
    /*flex-basis: 150px;*/
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    overflow: hidden;
}


.event_slide_box {
    margin: 0;
    padding: 5px;
    border-radius: 3%;
}

.event_slide_box img {
    border-radius: 3%;
    width: 100%;
    height: 185px;
    overflow: hidden;
}

.event_slide_box a {
    color: black;
    text-decoration: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*home (인덱스)*/
.reviewT img {
    width: 238px;
    height: 238px;
    border-radius: 14px
}

.slideshow {
    width: 1008px;
    height: 300px;
    overflow-x: hidden;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 6px 0px;
    background-color: rgb(255, 255, 255);
    margin: 32px auto;
    padding: 10px 0px 40px 0px;
}

.slideshow .reviewT {
    margin: 0px 7px;
    position: relative;
}

.slideshow .background {
    display: flex;
    /*transition: transform 0.5s ease;*/
}

.slideshow div.reviewT {
    display: inline-block;
}

.slideshow span, .slideshow p {
    display: none;
}

.slideshow p:nth-of-type(2) {
    display: block;
    position: absolute;
    top: 209px;
    left: 199px;

    padding: 2px 11px 5px 10px;
    border-radius: 20px 0px 14px;
    background: rgba(0, 0, 0, 0.44);
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 500;
}

.slideshow p:nth-of-type(3) {
    width: 100%;
    display: block;
    font-weight: bold;
    position: absolute;
    top: 243px;
    left: 0px;
}

.slideshow div.overtip {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    opacity: 0;
    transition: all 0.6s ease 0s;
    width: 207px;
    padding: 14px 17px 14px 14px;
    background-color: rgba(0, 0, 0, 0.64);
    border-radius: 0px 30px 12px 12px;
}

.slideshow div.overtip hr {
    border-color: rgb(159 159 159 / 20%)
}

.slideshow div.overtip span, .slideshow div.overtip a {
    display: block;
    color: #fff;
}

.right_menu_list {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    z-index: 3;
}

/*width와 padding-left는 js에서 조정함*/
.right_menu_list .slideshow {
    transition: all 0.6s ease 0s;
    overflow: auto;
    scrollbar-width: none;
    width: 328px;
    /*padding-left:9px;*/
}

.right_menu_list .slideshow .reviewT {
    margin-bottom: 10px;
}

/*우측메뉴 스타일 비율조절*/
.right_menu_list img {
    width: calc(238px * 0.6);
    height: calc(238px * 0.6);
}

.right_menu_list div.overtip {
    width: calc(187px * 0.6);
    /*height: 36px; 글자 크기만 줄이면 자동*/
    padding-top: 5px;
    border-top-right-radius: 9px;
}

.right_menu_list div.overtip span {
    font-size: 0.6rem;
    height: 17%;
}

.bRrzOM {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    opacity: 1;
    transition: all 0.2s ease 0s;
    width: 238px;
    padding: 14px 17px 14px 14px;
    background-color: rgba(0, 0, 0, 0.64);
    border-radius: 0px 30px 12px 12px;
}

.line1 {
    border-radius: 1px;
    background-color: rgb(234, 234, 234);
}

.line2 {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(157 72 72);
}

.hraekA:hover {
    background-color: rgb(25, 183, 194);
    font-weight: 500;
}

.hraekA:hover .Read__More__Text {
    color: rgb(255, 255, 255);
}

.hraekA .Read__More__Text {
    min-height: 20px;
    font-size: 0.875rem;
    letter-spacing: -0.0437rem;
    color: rgb(80, 80, 80);
    transition: all 0.2s ease-in-out 0s;
}

.ixuUGo {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 6px 0px;
    background-color: rgb(255, 255, 255);
}

.MymCy {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4.1px;
    transition: all 0.5s ease-in-out 0s;
    padding: 2px 11px 5px 10px;
    border-radius: 20px 0px 14px;
    background: rgba(0, 0, 0, 0.44);
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.0563rem;
    color: rgb(255, 255, 255);
}

/*//공지사항css*/

/*tab css*/
/* 컨테이너 스타일 */
ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid gray;
}

ul.list::after {
    content: '';
    display: block;
    clear: both;
}

.tab-button {
    display: block;
    padding: 10px 30px 10px 30px;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.selected {
    border-top: 2px solid dodgerblue;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-left: 1px solid #ccc;
    color: black;
    margin-top: -2px;
}

.tab-content {
    display: none;
    padding: 10px;
}

.show {
    display: block;
}


/* 화면 너비가 768px 이하일 때의 스타일 */
@media (max-width: 1000px) {
    #center_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* 세로로 쌓이도록 설정 */
    }

    #new_event_box {
        display: none;
    }

    #random_box {
        display: none;
    }


    /* 다른 요소들의 반응형 스타일을 추가할 수 있음 */
}


.infoBox {
    justify-content: center;
    width: 700px;
    margin: 20px auto 0 auto; /* 좌우 마진을 자동으로 설정하여 수평 가운데 정렬 */
    border-top: solid 2px white;

    align-items: center;
    text-align: center;
}


.infoBoxA {

    margin-top: 20px;
}

.infoBoxA a {

    margin: 0 10px 0 10px;
    color: white;
    /*background-color: transparent;*/
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgb(79 74 121);
}

.infoBoxA a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 12px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */


.footer_height .header {
    background-color: #f2f2f2;
    color: black;
}

.slideshow .header {
    position: relative;
    padding: 10px;
    border: none;
    box-shadow: 0 4px 4px -4px gray;
    background-color: #fff;
}

.slideshow .header a {
    position: absolute;
    right: 21px;
    top: 9px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
}


#scroll-top {
    position: fixed;
    right: 20px; /* 오른쪽 여백 조정 */
    bottom: 20%; /* 세로 중앙 위치 */
    transform: translateY(50%); /* 세로 중앙 정렬 */
    width: 50px; /* 버튼의 너비 */
    height: 50px; /* 버튼의 높이 */
    background-color: #ccc; /* 배경색 */
    border: none; /* 테두리 없음 */
    border-radius: 50%;
/ z-index: 1000;
}

#category .filter1 {
    text-align: center;

}

#category .filter {
    border: solid 1px #f7f7f9;
    /*background-color: #f7f7f9;*/
    background-color: #98cee95e;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;


}

#category .filter:hover {
    /*background-color: #d1d1d1;*/
    background-color: #6b7d875e;
}

#category .filter:focus {
    outline: none; /* 클릭된 요소의 포커스 테두리 제거 */
}

#locationB {
    /*border: solid 1px #f7f7f9;*/
    /*background-color: #e7e5dd;*/
    /*border-radius: 10px;*/
    /*font-size: 16px;*/
    /*padding: 5px 5px 5px 5px;*/
    /*font-weight: bold;*/
    /*width: 100px;*/
    /*margin-top: 5px;*/
    /*display: block;*/
    /*box-sizing: border-box;*/
    /*text-align: center;*/
    border: solid 1px #f7f7f9;
    background-color: #e7e5dd;
    border-radius: 10px;
    font-size: 12px;
    padding: 2px 0 2px 0;
    font-weight: bold;
    width: 100px;
    margin-top: 5px;
    display: block;
    box-sizing: border-box;
    text-align: center;
}


#locationB:hover {
    background-color: #d1d1d1;

}


.al-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.al-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.al-container {
    padding: 0.01em 16px
}

.al-container:after, .al-container:before {
    content: "";
    display: table;
    clear: both
}

.al-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.al-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.al-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.al-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.al-disabled *, :disabled * {
    pointer-events: none
}

.al-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.al-display-topright {
    position: absolute;
    right: 90px;
    top: 52px
}


/* 리뷰 디테일 템플릿 */

#review .reviewT {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    /*background-color: #f9f9f9;*/
    background-color: white;
    border-radius: 5px;
    /*text-align: center;*/
}

#review .username {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

#review .star {
    /*color: #ffd700; !* 금색 *!*/
    font-size: 18px;
    margin-top: 5px;
}

#review .comment {
    border: none;
    outline: none;
    /*background-color: #f9f9f9;*/
    background-color: white;
    /*font-weight: bold;*/
}

#review .comment:focus {
    outline: none;
}

#review .time {
    font-style: italic;
    color: #777;
}

#review img {
    width: 200px;
    height: 200px;
}

#review .rating__input {
    display: none; /* 라디오버튼 hide */
}

/* 홈 화면 검색 관련 */

#searchBtn {
    background: transparent;
    box-shadow: none;
    text-transform: none;
    border: none;
}

.searIcon2 {
    width: 27px;
    height: 3em;
    cursor: pointer;
    margin-right: 50px;
    margin-top: -122px;
    position: absolute;
    top: 0;
    right: 0;
}