*{
    /*border: solid 1px black;*/
}

#noticeTable {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    width: 1000px;
    border: none;
}

#noticeTable th, td {
    border: none;
    padding: 12px;
}

#noticeTable th {
    background-color: #e9ecef;
    color: #495057;
    font-weight: bold;

}

#impob{
    background-color: #c50d0d1a;
    border: solid 1px grey;
    width: 60px;
    height: 40px;
    border-radius: 20px;
}

#impob2{
    background-color: #f4f4f4;
    border: solid 1px grey;
    width: 60px;
    height: 40px;
    border-radius: 20px;
}

#noticeTable tr:hover {
    background-color: white;
}

#noticeTable tbody tr:hover {
    cursor: pointer;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    cursor: pointer;
}

.pagination li.active a {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li.disabled a {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

/*dd*/

/*#noticeTable {*/
/*    margin-bottom: 20px;*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*    width: 1000px;*/
/*    border: none;*/
/*}*/

/*#noticeTable th, td {*/
/*    border: none;*/
/*    padding: 12px;*/
/*}*/

/*#noticeTable th {*/
/*    background-color: #e9ecef;*/
/*    color: #495057;*/
/*    font-weight: bold;*/
/*}*/

/*#impob {*/
/*    background-color: white;*/
/*    border: solid 1px grey;*/
/*    width: 60px;*/
/*    height: 40px;*/
/*    border-radius: 20px;*/
/*}*/

/*#impob2 {*/
/*    background-color: white;*/
/*    border: solid 1px grey;*/
/*    width: 50px;*/
/*    height: 28px;*/
/*    border-radius: 20px;*/
/*}*/

/*#noticeTable tr:hover {*/
/*    background-color: white;*/
/*}*/

/*#noticeTable tbody tr:hover {*/
/*    cursor: pointer;*/
/*}*/

/*!* 중요 공지사항 스타일 *!*/
/*#noticeTable tr.important td {*/
/*    background-color: #ffcccc; !* 배경색을 빨간색으로 지정 *!*/
/*}*/

/*.pagination {*/
/*    justify-content: center;*/
/*    margin-top: 20px;*/
/*}*/

/*.pagination li {*/
/*    cursor: pointer;*/
/*}*/

/*.pagination li.active a {*/
/*    color: #fff;*/
/*    background-color: #007bff;*/
/*    border-color: #007bff;*/
/*}*/

/*.pagination li.disabled a {*/
/*    color: #6c757d;*/
/*    pointer-events: none;*/
/*    cursor: default;*/
/*}*/

#content{
    width: 1200px;
    height: auto;
    margin: 70px auto auto auto;
    /*display: flex;*/
    justify-content: center;
    /*border: solid 1px black;*/
}

/*디테일*/

#content  table {
    width: 800px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: auto;
    background-color: white;
}

#content th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

#content th {
    background-color: #f2f2f2;
}

.ceil{
    background-color: #f2f2f2;
}


.input{
    width: 900px;
    min-height: 600px;
    margin: 30px auto;
    border:solid 1px #ddd;
    border-radius: 10px;
    background-color: white;
}

.input p{
    font-size: 20px;
    margin: 20px 10px 0 20px;
}


#moreTable {
    width: 1200px;
    margin-bottom: 20px;
    border-collapse: collapse;
}
#moreTable th, td {
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
}

#moreTable th {
    background-color: #e9ecef;
    color: #495057;
    font-weight: bold;
}

#moreTable tbody tr:hover {
    cursor: pointer;
}

#content {
    max-width: 900px;
    height: 1400px;
    /*margin-top: ;*/
    /*padding: 20px;*/
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
}
#eventDetailContentBox {
    position : relative;
    margin-top : 100px;
    width:100%;
}


#sliderContainer {
    margin: 0;
    padding: 0;
    /*width:100%;*/
    display: flex;
}
.slideshowImg {
    width: 800px;
    height : 100%;
    overflow: hidden;
    margin : 0 auto;
    object-fit: contain;
}

.mySlider {
    width : 800px;
    height : 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eventList {
    width : 800px;
    margin : 0 auto;
}

#eventHeader {
    display: inline-block;;
    text-align: center;
    width : 100%;
    border-bottom: 1px solid #dddfe2;
}

#eventHeader button {
    border: none;
    background: none;
    padding : 15px;
    margin : 30px 40px;
    &:hover {
        background-color: #a9dc76;
        border-radius: 3em;
    }
}

.eventBox {
    position :relative;
    width : 800px;
}

.eventBox .eventItems {
    display: flex;
    flex-wrap : wrap;
    justify-content: flex-start;
    list-style: none;
    padding-inline-start: 0;
}

.eventBox .eventItems .eventItem {
    width:32%;
    border : 1px solid #dddfe2;
    margin : 0 0 13px 13px;
    background-color: #fff;
}
.eventBox .eventItems .eventItem:nth-child(3n+1) {
    margin : 0 0 13px 0;
}
.eventBox .eventItems .eventItem a {
    display: block;
    width : 100%;
    height : 100%;
    color : inherit;
    text-decoration: none;
}

.eventBox .eventItems .eventItem a .eventImg {
    width : 256px;
    height:170px;
}
.eventBox .eventItems .eventItem a .eventImg img {
    width : 256px;
    height:170px;
}

.eventBox .eventItems .eventItem a .eventDesc {
    min-height: 90px;
    padding-bottom: 17px;
    border : 1px solid #dddfe2;
    border-top: 0;
}

.eventDesc .txt1 {
    padding: 18px 11px 0 11px;
    height: 38px;
    vertical-align: top;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    letter-spacing: -1px;
}
.eventDesc .txt2 {
    color: #6a6f77;
    font-size: 13px;
    padding: 17px 11px 0 11px;
    letter-spacing: -0.5px;
}

#contents {
    padding-bottom: 50px;
    position: relative;
    width : 980px;
    margin: 0 auto;
}

.detailHeader {
    overflow: hidden;
    position: relative;
    padding : 25px 10px 0;
    line-height : 42px;
}

.detailHeader:before {
    content: '';
    clear: both;
    display: block;
    width: 100%;
    height: 42px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f8f8f8;
    border-top: 1px solid #b8b6aa;
    border-bottom: 1px solid #d6d4ca;
    z-index: 1;
}

.detailHeader h3 {
    float: left;
    position: relative;
    background: none;
    margin:0;
    text-align: justify;
    word-break: initial;
    z-index: 2;
    font-weight: 500;
}

.detailHeader .date {
    float: right;
    position: relative;
    line-height: 42px;
    z-index: 3;
    font-style: normal;
}

.detailContent {
    padding-top :10px;
    text-align: center;
}
.detailContent img{
    width : 100%;
    height: 900px;
}

.detailForm {
    width : 100%;
    margin : 50px 0;
    border : 1px solid #dddfe2;
    padding : 20px;
}

.formDiv {
    width:800px !important;
}

.detailFooter {
    margin : 60px 0;
    text-align: center;
}

.detailFooter a {
    height : 45px;
    line-height: 43px;
    padding : 0 18px;
    margin : 0 3px;
    min-width : 160px;
    text-decoration: none;
}

.detailFooter a.btn1 {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #414141;
}

.detailFooter a.btn2 {
    position: absolute;
    right: 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    font-size: 14px;
    color: #000000 !important;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}