<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="headerFragment" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 100;"  id="top">
    <div>
        <nav class="navbar navbar-expand-lg" style="background-color: #e6ecf1e0;">
            <div th:replace="~{/include/logo::logoContent(30,1)}"></div>
<!--            <a class="navbar-brand" th:href="@{/home}">Logo</a>-->
<!--            <a class="navbar-brand" th:if="${user}" th:href="@{/user/userPage_root/{userNo}(userNo=${user.userNo})}">Logo</a>-->

            <form th:action="@{/find_rest_name}" method="get">
            <input id="searchBar" type="search" placeholder="음식 또는 식당명 입력" aria-label="Search" name="keyword">
            </form>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">사이트로 돌아가기</a>
                    </li>
                </ul>
            </div>
            <button onclick="onMenuClick()" >
                <img src="/images/logo_avatar_32dp.png" alt="avatar">
            </button>
        </nav>
    </div>
</div>
</html>