<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{owner/myPage_layout}">

<th:block th:fragment="content">
    <div class="formDiv">
        <form id="addRestForm" th:action="@{/owner/addRest}" method="post" enctype="multipart/form-data" onsubmit="submitRestForm(event)">
            <p><label>가게 이름</label><input type="text" name="restName" required></p>
            <p><label>가게 주소</label><button onclick="execDaumPostcode(event)">우편번호 찾기</button></p>
            <p><label></label><input type="text" id="roadAddress" placeholder="도로명주소" readonly required></p>
            <p><label></label><input type="text" id="detailAddress" placeholder="상세주소"></p>
            <input type="hidden" name="restAddr" id="restAddr">
            <label></label><div id="map" style="display:inline-block;width:70%;height:300px;"></div>
            <p><label>가게 전화번호</label><input type="text" name="restTel"
                                            pattern="([0-9]{2,4})(\s*)-(\s*)([0-9]{3,4})(\s*)-(\s*)([0-9]{4})"
                                            title="전화번호는 2~4자리-3~4자리-4자리로 입력" required></p>
            <p><label>가게 이용시간</label>
                <span class="check">
                    <input type="checkbox" id="time">
                    <label for="time">24시간</label>
                    <input type="text" name="restTime"
                           pattern="([0-9]{2})(\s*):(\s*)([0-9]{2})(\s*)~(\s*)([0-9]{2})(\s*):(\s*)([0-9]{2})"
                           title="이용시간은 00:00~00:00으로 입력">
                </span></p>
            <script>
                $('#time').change(function () {
                    if (this.checked) {
                        $('input[name="restTime"]').hide(); // 체크되면 숨기기
                    } else {
                        $('input[name="restTime"]').show(); // 체크 해제되면 보이기
                    }
                });
            </script>
            <p><label>가게 좌석수</label>
                <span class="check">
                    <input type="checkbox" id="seat">
                    <label for="seat">없음</label>
                    <input type="text" name="restSeat">
                </span>
            </p>
            <script>
                $('#seat').change(function () {
                    if (this.checked) {
                        $('input[name="restSeat"]').hide(); // 체크되면 숨기기
                    } else {
                        $('input[name="restSeat"]').show(); // 체크 해제되면 보이기
                    }
                });
            </script>

            <p><label>가게 휴뮤일</label>
                <span class="check">
                    <input type="checkbox" id="offDays">
                    <label for="offDays">없음</label>
                    <input type="text" name="restOffDays">
                </span>
            </p>
            <script>
                $('#offDays').change(function () {
                    if (this.checked) {
                        $('input[name="restOffDays"]').hide(); // 체크되면 숨기기
                    } else {
                        $('input[name="restOffDays"]').show(); // 체크 해제되면 보이기
                    }
                });
            </script>

            <p><label>가게 주차장</label>
                <span class="check">
                    <input type="checkbox" id="parking">
                    <label for="parking">없음</label>
                    <input type="text" name="restParking">
                </span>
            </p>
            <script>
                $('#parking').change(function () {
                    if (this.checked) {
                        $('input[name="restParking"]').hide(); // 체크되면 숨기기
                    } else {
                        $('input[name="restParking"]').show(); // 체크 해제되면 보이기
                    }
                });
            </script>
            <p><label>가게 업태</label>
                <select name="restCategory" required>
                    <option value="">전체</option>
                    <option>한식</option>
                    <option>양식</option>
                    <option>일식</option>
                    <option>중식</option>
                    <option>디저트</option>
                </select></p>
            <input type="hidden" name="restLatitude" id="restLatitude">
            <input type="hidden" name="restLongitude" id="restLongitude">
            <p><label>가게 소개글</label><textarea name="restDescription" rows="5"></textarea> </p>
            <p><label>대표 이미지</label><input type="file" name="file" id="file" accept="image/*" required></p>
            <p><label></label><input type="button" onclick="changeOrigin()" value="사진 변경 취소" ></p>
            <script th:inline="javascript">

                function changeOrigin() {
                    document.getElementById('preview').src = '/img/no_image.png';
                }
            </script>
            <p><label></label><img id="preview" src="/img/no_image.png" alt="Rest Image" accept="image/*"></p>
            <input type="submit" value="등록">
            <input type="button" value="취소" onclick="location.href='/owner/home'">
        </form>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=&libraries=services"></script>
    <script>

        let mapContainer = document.getElementById("map"),
            mapOption = {
                center : new daum.maps.LatLng(35.86868025887658, 128.5987419727357),
                draggable: false,
                level : 5
            };

        let map = new daum.maps.Map(mapContainer, mapOption);
        let geocoder = new daum.maps.services.Geocoder();
        let marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(35.86868025887658, 128.5987419727357),
            map: map
        });
        let coords = new daum.maps.LatLng(35.86868025887658, 128.5987419727357);
        map.relayout();
        map.setCenter(coords);
        marker.setPosition(coords)

        function execDaumPostcode(event) {
            event.preventDefault();

            new daum.Postcode({
                oncomplete: function(data) {
                    let roadAddr = data.roadAddress;
                    document.getElementById("roadAddress").value = roadAddr;

                    geocoder.addressSearch(data.address, function(results, status) {
                        if (status === daum.maps.services.Status.OK) {

                            let result = results[0];
                            document.getElementById("restLatitude").value = result.y;
                            document.getElementById("restLongitude").value = result.x;

                            coords = new daum.maps.LatLng(result.y, result.x);

                            map.relayout();
                            map.setCenter(coords);
                            marker.setPosition(coords)
                        }
                    });
                }
            }).open();
        }
    </script>
    <script>
        function submitRestForm(event) {
            event.preventDefault();
            if (confirm("식당 등록을 하시겠습니까?")) {
                if(document.getElementById('offDays').checked) {
                    document.querySelector('input[name=restOffDays]').value = '없음';
                }

                if(document.getElementById('parking').checked) {
                    document.querySelector('input[name=restParking]').value = '없음';
                }
                if(document.getElementById('seat').checked) {
                    document.querySelector('input[name=restSeat]').value = null;
                }

                if(document.getElementById("preview").src===location.origin+'/img/no_image.png') {
                    alert("대표 이미지 등록은 필수 입니다.\n이미지 등록이 이루어지지 않아 식당 등록이 취소됩니다.")
                    return;
                }
                if(document.getElementById('time').checked) {
                    document.querySelector('input[name=restTime]').value = '24시간';
                }

                alert("관리자를 통해 검수 후 식당 등록이 완료됩니다.\n검수 결과는 회원가입 시 기입한 메일을 통해 확인할 수 있습니다.")
                let form = document.getElementById("addRestForm");
                let roadAddress = document.getElementById("roadAddress").value;
                let detailAddress = document.getElementById("detailAddress").value;
                document.getElementById("restAddr").value = roadAddress  + ", " + detailAddress;
                form.submit();
                // return true;
            }
            return false;
        }

        function parkingChecked(checked) {
            let restParking = document.getElementsByName('restParking')[0]
            if( checked.checked===true ){
                restParking.readOnly=false;
                restParking.style.display="inline-block";
            } else {
                restParking.readOnly=true;
                restParking.style.display="none";
            }
        }

        function previewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById('preview').setAttribute('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        document.getElementById('file').addEventListener('change', function () {
            previewImage(this);
        });
    </script>

</th:block>
</html>