<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="headerFragment">
    <h1>[[${pageName}]]</h1>
</div>
<!--<div th:fragment="headerFragment" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 100;"  id="top">-->
<!--    <div>-->
<!--        <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--            <a class="navbar-brand" href="/owner/home">Logo</a>-->

<!--            <input id="searchBar" type="search" placeholder="음식 또는 식당명 입력" aria-label="Search" name="keyword">-->

<!--            <div class="collapse navbar-collapse" id="navbarNav">-->
<!--                <ul class="navbar-nav ml-auto">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">로그아웃</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">사이트로 돌아가기</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</div>-->
</html>