<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{owner/myPage_layout}">

<th:block th:fragment="content">
    <th:block th:object="${dinning}">
        <div class="formDiv">
            <p><label>가게 이름</label><input type="text" name="restName" th:value="*{getRestName()}" readonly></p>
            <p><label>가게 주소</label><input type="text" name="restAddr" th:value="*{getRestAddr()}" readonly></p>
            <label></label><div id="map" style="display:inline-block; width:70%;height:300px;"></div>
            <p><label>가게 전화번호</label><input type="text" name="restTel" th:value="*{getRestTel()}" readonly></p>
            <p><label>가게 이용시간</label><input type="text" name="restTime" th:value="*{getRestTime()}" readonly></p>
            <p><label>가게 좌석수</label><input type="text" name="restSeat" th:value="*{getRestSeat()}" readonly></p>
            <p><label>가게 휴뮤일</label><input type="text" name="restOffDays" th:value="*{getRestOffDays()}" readonly></p>
            <p><label>가게 주차장</label><input type="text" name="restParking" th:value="*{getRestParking()}" readonly></p>
            <label>가게 메뉴</label><th:block th:replace="${menuPage}::menuContent"></th:block>
            <p><label>가게 업태 : </label>
                <select name="restCategory" th:value="*{getRestCategory()}"
                        onFocus="this.initialSelect = this.selectedIndex;"
                        onChange="this.selectedIndex = this.initialSelect;">
                    <option th:selected="*{getRestCategory()=='전체'}">전체</option>
                    <option th:selected="*{getRestCategory()=='한식'}">한식</option>
                    <option th:selected="*{getRestCategory()=='양식'}">양식</option>
                    <option th:selected="*{getRestCategory()=='일식'}">일식</option>
                    <option th:selected="*{getRestCategory()=='중식'}">중식</option>
                    <option th:selected="*{getRestCategory()=='디저트'}">디저트</option>
                </select></p>
            <input type="hidden" name="restLatitude" id="restLatitude" th:value="*{getRestLatitude()}">
            <input type="hidden" name="restLongitude" id="restLongitude" th:value="*{getRestLongitude()}">
            <p><label>가게 소개글</label><textarea name="restDescription" rows="5" readonly>[[*{getRestDescription()}]]</textarea></p>
            <p><label>대표 이미지</label><img id="preview" th:attr="mysrc=*{getBase64Image()}" src="/img/no_image.png" alt="Rest Image"></p>
            <p><label>검수 결과</label>
                <input type="text" th:if="*{getRestStatus()=='HOLD'}" value="검수중"
                       style="border: 1px solid #FFD23F; background-color: #FFD23F; text-align: center" readonly>
                <input type="text" th:if="*{getRestStatus()=='REJECT'}" value="검수 거절"
                       style="border: 1px solid #EE4266; background-color: #EE4266; text-align: center" readonly>
                <input type="text" th:if="*{getRestStatus()=='NORMAL'}" value="검수 완료"
                       style="border: 1px solid #337357; background-color: #337357;  color: #FFF;text-align: center" readonly>
            </p>
            <input type="button" value="식당 정보 수정하기" th:onclick="|location.href='@{/owner/updateRest}'|">
        </div>
    </th:block>
    <script src="/js/imglazy.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=&libraries=services"></script>

    <script>
        let latitude = document.getElementById("restLatitude").value
        let longitude = document.getElementById("restLongitude").value

        let mapContainer = document.getElementById("map");
        let mapOption;
        if(latitude !==null && longitude !=null) {
            mapOption = {
                center : new daum.maps.LatLng(latitude, longitude),
                draggable: false,
                level : 5
            };
        } else {
            mapOption = {
                center : new daum.maps.LatLng(35.86868025887658, 128.5987419727357),
                draggable: false,
                level : 5
            };
        }

        let map = new daum.maps.Map(mapContainer, mapOption);
        let geocoder = new daum.maps.services.Geocoder();
        let marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(latitude, longitude),
            map: map
        });
        let coords = new daum.maps.LatLng(latitude, longitude);
        map.relayout();
        map.setCenter(coords);
        marker.setPosition(coords)
    </script>
</th:block>
</html>