<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{policy/policy_template}">
<th:block th:fragment="content">
    <div class="tap_box">
        <h2>이용약관</h2>
       <ul class="taps">
           <li class="active"><a href="/policy/service">서비스 이용약관</a></li>
           <li><a href="/policy/privacy">개인정보처리방침</a></li>
           <li><a href="/policy/location">위치기반서비스 이용약관</a></li>
       </ul>
    </div>

    <div class="content_section">
        <section>
            <h3>이용약관</h3>
            <b>제1조</b>
            <p>본 약관은 회원이 예맛이 제공하는 서비스를 이용함에 있어 예맛과 회원간의 권리, 의무 및 책임사항을 정함을 목적으로 합니다.</p>
            <b>제2조</b>
            <p>(용어 정의) "예맛"라 함은 예맛을 의미합니다. "서비스"라 함은 예맛이 제공하는 [서비스명] 등의 서비스를 의미합니다. "회원"이라 함은 본 약관에 동의하고 예맛과
                서비스 이용 계약을 체결한 자를 의미합니다. "아이디(ID)"라 함은 회원의 식별과 서비스 이용을 위해 회원이 정하고 예맛이 승인하는 문자, 숫자 또는 기호의 조합을
                의미합니다.</p>
            <b>제3조</b>
            <p>(약관의 효력과 변경) 본 약관은 회원이 이를 동의하고 예맛이 제공하는 서비스를 이용함으로써 효력이 발생합니다. 예맛은 필요한 경우 약관을 변경할 수 있으며, 변경된 약관은
                회원에게 공지함으로써 효력이 발생합니다.</p>
            <b> 제4조</b>
            <p>(회원 가입 및 계정 관리) 회원 가입은 회원이 약관에 동의한 후 예맛이 제공하는 회원 가입 양식을 작성하여 회원으로 등록함으로써 완료됩니다. 회원은 자신의 아이디와 비밀번호를
                관리하고 이에 대한 책임을 부담합니다. 회원은 자신의 개인정보를 최신 및 정확하게 유지해야 합니다.</p>
            <b>제5조</b>
            <p>(서비스 이용) 회원은 예맛이 제공하는 서비스를 이용할 수 있습니다. 회원은 서비스 이용 시 관련 법령, 약관 및 이용 규정을 준수해야 합니다. 회원은 서비스 이용 중 다른
                회원에게 피해를 주거나 서비스 운영에 지장을 초래하는 행위를 해서는 안 됩니다. 제6조 (서비스의 변경, 중단) 예맛은 운영상, 기술상 필요한 경우 서비스의 일부 또는 전부를
                변경, 중단할 수 있습니다. 예맛은 서비스의 변경, 중단에 대해 회원에게 사전 공지를 할 수 있습니다.</p>
        </section>

        <section>
            <h3>이벤트 및 혜택 정보 수신에 대한 동의</h3>
            <div style="border:1px solid #dfdfdf;border-radius:5px;background:#f0f0f3;padding:10px;margin-bottom: 30px;">
                <p>예맛은 회원의 이벤트 및 혜택 정보를 제공하기 위해 아래와 같은 내용에 동의함으로써 이벤트 및 혜택 정보 수신에 대한 동의를 하게 됩니다.</p>
            </div>
            <b> 1. 정보 수신 목적</b>
            <p>예맛은 회원에게 다양한 이벤트 및 혜택 정보를 제공함으로써 아래와 같은 목적을 달성합니다: 새로운 서비스 소식 및 업데이트 안내 할인 혜택, 이벤트, 경품 추첨 등 다양한 이벤트
                정보 제공</p>
            <b> 2. 수신하는 정보 항목</b>
            <p>예맛은 아래와 같은 정보를 회원에게 제공할 수 있습니다: 이벤트 안내 및 참여 방법 할인 쿠폰 및 이용 안내 상품 소개 및 판매 프로모션</p>
            <b> 3. 정보 제공 및 공유</b>
            <p> 예맛은 회원의 개인정보를 외부에 제공하지 않으며, 이벤트 및 혜택 정보는 회원에게 직접 제공됩니다.</p>
            <b>4. 동의의 철회</b>
            <p>회원은 언제든지 이벤트 및 혜택 정보 수신에 대한 동의를 철회할 수 있습니다. 동의 철회는 서비스 설정에서 이용 가능하며, 동의를 철회하는 경우 이벤트 및 혜택 정보 수신에 제약이
                있을 수 있습니다.</p>
        </section>
    </div>
</th:block>